{% extends 'index.html' %}
{% block content %}
<div class="card mt-3 mb-3">
    <div class="card-header">
            <div class="col-auto">
                Connect Node {{ address }}
            </div>
    </div>
    <div class="container mb-1 mt-1">
            <p>Suggested trusted nodes: [10002, 10003], Suggested storage nodes: [10004, 10004, 10005, 10006, 10007, 10008, 10009, 10010] (change in config)</p>
        <button class="btn btn-primary connect">Create new vault</button>
        <button class="btn btn-primary connect">Connect to running vault</button>
    </div>
</div>
{% endblock %}
