<div class="container mb-1 mt-3">
    <div class="card">
        <table class="table">
            <tbody>
                <tr>
                    <td class="fit">Domain</td>
                    <td><a href="{{ cred.domain }}">{{ cred.domain }}</a></td>
                    <td><span  class="material-icons pwcopy" data-copy="{{ cred.domain }}">content_copy</span></td>
                </tr>
                <tr>
                    <td class="fit">Username</td>
                    <td>{{ cred.username }}</td>
                    <td><span class="material-icons pwcopy" data-copy="{{ cred.username }}">content_copy</span></td>
                </tr>
                <tr>
                    <td class="fit">Password</td>
                    <td class="password pwcopy" data-password="{{ cred.password }}" id="pwtext-{{ hashit(cred.domain) }}" >{{ star_repr(cred.password) }}</td>
                    <td><span class="material-icons showpw pwcopy" id="showpw-{{ hashit(cred.domain) }}">visibility</span> <span data-copy="{{ cred.password}}" class="material-icons pwcopy">content_copy</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
