{% extends 'index.html' %}

{% block content %}
<h1>Welcome to your Vault</h1>
<div class="card mb-3">
    <div class="card-header">
        Add Login
    </div>
    <div class="container p-3">
        <form action="/add" method="post">
            <div class="mb-1">
                <label for="addDomain" class="form-label">Domain</label>
                <input type="text" class="form-control" id="addDomain" name="addDomain" aria-describedby="emailHelp">
            </div>
            <div class="mb-1">
                <label for="addUsername" class="form-label">Username</label>
                <input type="text" class="form-control" name="addUsername" id="addUsername" aria-describedby="emailHelp">
            </div>
            <div class="mb-1">
                <label for="addPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="addPassword" name="addPassword">
            </div>
            <input type="submit" class="btn btn-primary mt-2" value="Store in Vault">
        </form>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        Retrieve Login
    </div>
    <div class="container p-3 mb-1">
        <form action"/" method="post">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="getDomain" class="col-form-label">Domain</label>
                </div>
                <div class="col-auto">
                    <input name="getDomain" type="text" id="getDomain" class="form-control">
                </div>
                <div class="col-auto">
                    <span id="getVaultSpan" class="form-text">
                        <input type="submit" class="btn btn-primary" value="Get from Vault">
                    </span>
                </div>
            </div>
        </form>
    </div>
    {% for cred in retrieved %}
    {% include 'login.html' %}
    {% endfor %}
</div>
<div class="card">
    <div class="card-header">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                Local Logins
            </div>
            <div class="col-auto">
                <button class="btn btn-sm btn-primary" id="fetchall">Fetch All</button>
            </div>
        </div>
    </div>
    {% for cred in credentials %}
    {% include 'login.html' %}
    {% endfor %}
</div>

{% endblock %}
